{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}
{% block object-tools-items %}
    {{block.super}}
    <li>
        <a href="{% url 'mc_admin:appdata_product_changelist' %}?enterprise__name={{original.name}}" class="historylink">Produtos</a>
    </li>
    <li>
        <a href="{% url 'mc_admin:appdata_section_changelist' %}?enterprise__name={{original.name}}" class="historylink">Seções</a>
    </li>
<li>
        <a href="{% url 'mc_admin:appdata_highlight_changelist' %}?enterprise__name={{original.name}}" class="historylink">Destaques</a>
    </li>

{% endblock %}
